{% extends 'SMUeat/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div style="color:red">
        해당 관리자용 정렬 방식은<br>
        부적절하거나 불필요한 최신추가 리뷰 전체 목록을 관리하기 위하여<br>
        <strong>관리자가 따로 생성한 정렬 방식입니다.</strong><br>
        <strong>접속자분들은 사용이 불가능합니다. 다른 정렬방식을 선택해주세요.</strong>
    </div>
    <div style="line-height: 40%;"><br></div>
    <form action="{% url 'newreviewlist' %}?page={{ page }}" method="post">
        {% csrf_token %}
        <strong>관리자용 비밀번호:</strong>&nbsp;&nbsp;<input type="password" name="password_admin">&nbsp;
        <button type="submit" class="btn btn-danger">확인</button>
        </span><div style="line-height: 55%;"><br></div>
        &#8251;&nbsp;관리자용 정렬방식은 페이지 이동시에도 비밀번호를 입력해야합니다.&nbsp;&#8251;
        <div style="line-height: 60%;"><br></div>
        &#8251;&nbsp;보다 자세한 설명은&nbsp;<button type="button" class="btn btn-primary" onclick="location.href='/SMUeat/notice/'">공지사항 보기</button>&nbsp;&#8251;
    </form>
</div>
{% endblock %}