{% extends 'SMUeat/base.html' %}
{% load static %}
{% block content %}
<div class="container">

    <h5>&lt;사이트 개발 목적&gt;</h5>
    <div style="line-height: 10%;"><br></div>
    &#8251;&nbsp;본 사이트 '상명대생 오늘 어디서 먹지?'는 3가지 목적으로 개발하게 되었습니다.&nbsp;&#8251;
    <div style="line-height: 10%;"><br></div>

    <ul>
        <p>
            <li><strong>목적 1:</strong></li>
            &nbsp;&nbsp;&nbsp;다른 외부인들의 평가를 최소로 하고,<br>
            &nbsp;&nbsp;&nbsp;오직 상명대학교 학생들이 상명대 주변 식당 정보와 리뷰들을 직접 입력하고 평가하여<br>
            &nbsp;&nbsp;&nbsp;우리들만의 기준이 담긴 식당 순위표가 있었으면 좋겠다는 목적.<br>
        </p>

        <p>
            <li><strong>목적 2:</strong></li>
            &nbsp;&nbsp;&nbsp;매번 끼니를 어디서 해결하지, 술은 어디서 마시지 하는 우리 상명대생들의 고민을 덜어내고자<br>
            &nbsp;&nbsp;&nbsp;먼저 식당 및 술집 카테고리를 고르고, 해당 순위를 참고하여<br>
            &nbsp;&nbsp;&nbsp;고민없이 빠르게 먹으러 갈 수 있으면 좋겠다는 목적.<br>
        </p>

        <p>
            <li><strong>목적 3:</strong></li>
            &nbsp;&nbsp;&nbsp;방학에 코딩 공부도 할겸 개인 프로젝트 경험도 쌓아볼겸 겸사겸사..ㅎㅎ
        </p>
    </ul>
    <div style="line-height: 110%;"><br></div>

    <h5>&lt;사이트 개발 정보&gt;</h5>
    <div style="line-height: 10%;"><br></div>

    <ul>
        <li><strong>개발자 이름:</strong>&nbsp;사현진 (SAHYUNJIN)</li>
        <li><strong>개발자 정보:</strong>&nbsp;상명대학교 소프트웨어학과 19학번 (2022년 기준 2학년 복학)</li>
        <li><strong>개발 도구:</strong>&nbsp;Django Framework</li>
        <li><strong>사용:</strong>&nbsp;Python, HTML, CSS, Javascript, Django template code, DB(Database/db.sqlite3)</li>
        <li><strong>역할:</strong>&nbsp;프론트엔드 개발, 백엔드 개발, 웹 디자인, DB 관리자</li>
    </ul>
    <div style="line-height: 110%;"><br></div>

    <h5>&lt;사이트 배포 예정 날짜&gt;</h5>
    <div style="line-height: 10%;"><br></div>

    <ul>
        <li>2022년도 2학기 개강날&nbsp;<strong>(2022.09.01)</strong></li>
    </ul>
    
</div>
{% endblock %}