{% extends 'SMUeat/base.html' %}
{% load static %}
{% block content %}
<div class="container">
 
    <h5>&lt;공지사항&gt;</h5>

    <ol>
        <p>
            <li>&nbsp;<strong>- '장소 삭제' 기능은 사용불가능 -</strong></li>
            '장소 삭제' 버튼이 존재합니다만, 그건 관리자용이며 접속자분들은 사용이 불가능합니다.<br>
            사람들이 해당 장소에 리뷰들을 적어놨는데, 누군가 멋대로 삭제해버리면 장소에 달린 리뷰까지 전부 날아가므로 이를 방지하고자 하는 목적입니다.<br>
            이처럼 삭제가 불가능하오니, '장소 추가' 하실때 오타 주의해주시면 감사하겠습니다.<br>
            혹시 삭제를 원하신다면, 사이트 오른쪽상단의 메일 아이콘을 눌러 관리자에게 따로 메일주시거나, 인스타 DM으로 요청해주시면 확인해보고 삭제 조치하도록 하겠습니다.<br>
        </p>

        <p>
            <li>&nbsp;<strong>- 전달사항은 메일과 DM으로 -</strong></li>
            이외에도 문의, 건의사항, 보완할점, 충고 등등 전달 사항이 있다면,<br>
            사이트 오른쪽상단의 메일과 인스타 DM을 통해 말씀해주세요.<br>
        </p>

        <p>
            <li>&nbsp;<strong>- 사이트 주소: www.sahyunjin.com/SMUeat -</strong></li>
            사이트 주소는 www.sahyunjin.com/SMUeat 입니다.<br>
            www.사현진.com/상명대eat 이렇게 생각하시면 됩니다.<br>
        </p>

        <p>
            <li>&nbsp;<strong>- SMU 학식 링크 -</strong></li>
            식당 대신 상명대 학식이 땡기신다면,<br>
            '<a href="https://www.smu.ac.kr/ko/life/restaurantView4.do">여기</a>'를 클릭해주세요.
        </p>
        
        <p>
            <li><strong style="color: red;">본 사이트는 개인정보 취득 및 수익창출이 전혀 없음을 알립니다.</strong></li>
        </p>
    </ol>


</div>
{% endblock %}