{% extends 'SMUeat/base.html' %}
{% load static %}
{% block content %}
<script>
    function sorting()
    {
        var sort_select = document.getElementById("sort_select");
        var val = sort_select.options[sort_select.selectedIndex].value;
        if (val == "highpoint") {
            if ('{{ category_link }}'=='all') {
                location.href="/SMUeat/place/all/list/highpoint/";
            }
            else if ('{{ category_link }}'=='restaurant') {
                location.href="/SMUeat/place/restaurant/list/highpoint/";
            }
            else if ('{{ category_link }}'=='alcohol') {
                location.href="/SMUeat/place/alcohol/list/highpoint/";
            }
        }
        else if (val == "lowpoint") {
            if ('{{ category_link }}'=='all') {
                location.href="/SMUeat/place/all/list/lowpoint/";
            }
            else if ('{{ category_link }}'=='restaurant') {
                location.href="/SMUeat/place/restaurant/list/lowpoint/";
            }
            else if ('{{ category_link }}'=='alcohol') {
                location.href="/SMUeat/place/alcohol/list/lowpoint/";
            }
        }
        else if (val == "manyreviewer") {
            if ('{{ category_link }}'=='all') {
                location.href="/SMUeat/place/all/list/manyreviewer/";
            }
            else if ('{{ category_link }}'=='restaurant') {
                location.href="/SMUeat/place/restaurant/list/manyreviewer/";
            }
            else if ('{{ category_link }}'=='alcohol') {
                location.href="/SMUeat/place/alcohol/list/manyreviewer/";
            }
        }
        else if (val == "new") {
            location.href="/SMUeat/place/new/list/";
        }
    }
</script>

<div class="container">
    {% if 'all' in category_link %}
    <h4 style="display:inline">'<strong>모든 장소</strong>' 카테고리 순위 <strong><span class="space"><br></span>({{ sort }})</strong></h4>&nbsp;&nbsp;
    {% elif 'restaurant' in category_link %}
    <h4 style="display:inline">'<strong>식당</strong>' 카테고리 순위 <strong><span class="space"><br></span>({{ sort }})</strong></h4>&nbsp;&nbsp;
    {% elif 'alcohol' in category_link %}
    <h4 style="display:inline">'<strong>술먹기좋은식당 and 술집</strong>'&nbsp;<span class="space3"><br></span>카테고리 순위 <strong><span class="space"><br></span>({{ sort }})</strong></h4>&nbsp;&nbsp;
    {% endif %}
    <div style="line-height: 80%;"><br></div>
    
    <form>
        <select id = "sort_select" name = "sort" size="1">
            <option>--- 정렬방식 선택 ---</option>
            <option value = "highpoint">평점 높은순</option>
            <option value = "lowpoint">평점 낮은순</option>
            <option value = "manyreviewer">리뷰수 내림차순</option>
            <option value = "new">최신순 (관리자용)</option>
        </select>
        <input type="button" value="정렬" onclick="sorting();">
    </form>
    <div style="line-height: 180%;"><br></div>

    {% for place in places %}
    <div class="row">
        <div class="col-sm-12">
            {% if places.number == 1 %}
                {% if forloop.counter is 1 or forloop.counter is 2 or forloop.counter is 3 %}
                    <div class="card border-warning" style="border:solid 3px">
                        <div class="card-body">
                            <h4 class="card-title" style="color:orange"><i class="bi bi-trophy-fill" style="font-size: 23px; color:rgb(255, 196, 0)"></i>&nbsp;{{forloop.counter}}위&nbsp;<i class="bi bi-trophy-fill" style="font-size: 23px; color:rgb(255, 196, 0)"></i></h4>
                {% else %}
                    <div class="card" style="border:solid 2px">
                        <div class="card-body">
                {% endif %}
            {% else %}
                <div class="card" style="border:solid 2px">
                    <div class="card-body">
            {% endif %}
                    <h4 class="card-title"><strong>{{ place.name }}</strong></h4>
                    <p class="card-text"><strong>카테고리:</strong> {{ place.category }}</p>
                    <p class="card-text"><strong>평점:</strong>  {{ place.average_point }}점(최대 5.0점)&nbsp;<span class="space2"><br></span>/&nbsp;{{ place.review_count }}명 참여</p>
                    <a href="{% url 'review-list' place_id=place.id %}" class="card-link">리뷰 보기&작성</a>&nbsp;&nbsp;
                    <span class="space2"><br></span>
                    <a href="{% url 'place-delete' place_id=place.id %}" class="card-link" style="color:red;">장소 삭제(관리자용)</a>
                </div>
            </div>
        </div>
    </div>
    <div style="line-height: 70%;"><br></div>
    {% endfor %}


    <div style="line-height: 70%;"><br></div>
    <nav aria-label="show page">
        <ul class="pagination justify-content-center">

            {% if places.has_previous %}
            <li class="page-item">
                <span><a class="page-link" href="?page=1">&laquo; ···</a></span>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">&laquo;</span>
            {% endif %}
            </li>
            {% if places.number != 1 %}
            <li class="page-item">
                <a class="page-link" href="?page={{ places.previous_page_number }}">{{ places.previous_page_number }}</a>
            </li>
            {% endif %}
            <!-- <<(처음페이지로 이동) 와 이전 페이지 -->

            <li class="page-item active" aria-current="page">
                <span class="page-link">{{ places.number }}</span>
            </li>
            <!-- 현재 페이지 -->

            {% if places.number !=  places.paginator.num_pages %}
            <li class="page-item">
                <a class="page-link" href="?page={{ places.next_page_number }}">{{ places.next_page_number }}</a>
            </li>
            {% endif %}
            <!-- 다음 페이지 -->

            {% if places.has_next %}
            <li class="page-item">
                <span><a class="page-link" href="?page={{ places.paginator.num_pages }}">··· &raquo;</a></span>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">&raquo;</span>
            {% endif %}
            </li>
            <!-- >>(끝페이지로 이동) -->

        </ul>
    </nav>


</div>

{% endblock %}