{% extends 'SMUeat/base.html' %}
{% load static %}
{% block content %}
<script>
    function sorting()
    {
        var sort_select = document.getElementById("sort_select");
        var val = sort_select.options[sort_select.selectedIndex].value;
        if (val == "recent") {
            location.href="/SMUeat/place/{{ place.id }}/review/list/recent/";
        }
        else if (val == "highpoint") {
            location.href="/SMUeat/place/{{ place.id }}/review/list/highpoint/";
        }
        else if (val == "lowpoint") {
            location.href="/SMUeat/place/{{ place.id }}/review/list/lowpoint/";
        }
    }
</script>

<div class="container">
    <h4 style="display:inline">'<strong>{{ place.name }}</strong>' 리뷰 목록 <strong>({{ sort }})</strong></h4>&nbsp;&nbsp;
    <button type="button" class="btn btn-primary" style="margin-bottom: 9px;" onclick="location.href='/SMUeat/place/{{place.id}}/review/create/'">+ 리뷰 작성</button>
    <br>
    
    <form>
        <select id = "sort_select" name = "sort" size="1">
            <option>--- 정렬방식 선택 ---</option>
            <option value = "recent">최신순</option>
            <option value = "highpoint">평점 높은순</option>
            <option value = "lowpoint">평점 낮은순</option>
        </select>
        <input type="button" value="정렬" onclick="sorting();">
    </form>
    <div style="line-height: 180%;"><br></div>

    {% if render_num == 0 %}
    해당 장소의 <strong style="color:red">리뷰가 존재하지 않습니다</strong>.<br>
    첫 <strong style="color:red">리뷰를 작성</strong>해주십시오.
    {% endif %}

    {% for review in reviews %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <p class="card-text"><strong>평점:</strong> {{ review.point }}점</p>
                    <p class="card-text"><strong>추천 메뉴:</strong> {{ review.menu }}</p>
                    <p class="card-text"><strong>리뷰 설명:</strong> {{ review.comment }}</p>
                    <button type="button" class="btn btn-primary" onclick="location.href='/SMUeat/place/{{place.id}}/review/{{review.id}}/update/'">리뷰 수정</button>
                    <button type="button" class="btn btn-danger" onclick="location.href='/SMUeat/place/{{place.id}}/review/{{review.id}}/delete/'">리뷰 삭제</button>
                    <div style="line-height: 60%;"><br></div>
                    <span style="font-size: small;">작성날짜: {{ review.created_at | date:'Y.m.d' }}</span>
                </div>
            </div>
        </div>
    </div>
    <div style="line-height: 70%;"><br></div>
    {% endfor %}


    <div style="line-height: 70%;"><br></div>
    <nav aria-label="show page">
        <ul class="pagination justify-content-center">

            {% if reviews.has_previous %}
            <li class="page-item">
                <span><a class="page-link" href="?page=1">&laquo; ···</a></span>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">&laquo;</span>
            {% endif %}
            </li>
            {% if reviews.number != 1 %}
            <li class="page-item">
                <a class="page-link" href="?page={{ reviews.previous_page_number }}">{{ reviews.previous_page_number }}</a>
            </li>
            {% endif %}
            <!-- <<(처음페이지로 이동) 와 이전 페이지 -->

            <li class="page-item active" aria-current="page">
                <span class="page-link">{{ reviews.number }}</span>
            </li>
            <!-- 현재 페이지 -->

            {% if reviews.number !=  reviews.paginator.num_pages %}
            <li class="page-item">
                <a class="page-link" href="?page={{ reviews.next_page_number }}">{{ reviews.next_page_number }}</a>
            </li>
            {% endif %}
            <!-- 다음 페이지 -->

            {% if reviews.has_next %}
            <li class="page-item">
                <span><a class="page-link" href="?page={{ reviews.paginator.num_pages }}">··· &raquo;</a></span>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">&raquo;</span>
            {% endif %}
            </li>
            <!-- >>(끝페이지로 이동) -->

        </ul>
    </nav>


</div>

{% endblock %}