{% extends 'SMUeat/base.html' %}
{% load static %}
{% block content %}
<div class="container">
 
    <h5>&lt;관리자의 TMI&gt;</h5>
    <div style="line-height: 10%;"><br></div>

    <ul>
        <p>
            <li><strong>부족한 점</strong></li>
            이번에 군대를 다녀와서 2학년으로 복학한뒤, <strong>부족한 지식으로 처음 혼자 개발해보는 개인 프로젝트 사이트라 많이 부족합니다.</strong><br>
            그렇기에 현재 최대한의 역량으로써, 데이터베이스 위주로 개발하였습니다.<br>
            크롤링 등등으로 인터넷상의 데이터를 가져오지않고, 오직 기초 DB만 생성해놓았기때문에 <strong>초기 데이터(장소 목록, 리뷰 목록)가 모자랄것입니다.</strong><br>
            그래서 사이트 배포 초기에는 식당 순위가 약간 뒤죽박죽일수도 있습니다.<br>
            물론 어느정도 장소 목록들은 제가 직접 수동 입력 해놓을 생각입니다.<br>
            초반이 힘들지 꾸준히 데이터가 쌓이면 쌓일수록, 데이터가 불어나는 속도와 활용력이 눈덩이처럼 커져갈것입니다.<br>
            <strong>여러분의 꾸준한 장소 및 리뷰 입력의 노력이 필요합니다.</strong>
        </p>
        
        <p>
            <li><strong>바램</strong></li>
            솔직히 사이트 들어와봤는데 장소도 몇개없고~ 리뷰도 적힌것도 별로없고~ 하면<br>
            얻은 정보는 없으니 굳이 장소랑 리뷰를 등록해주기는 귀찮다는 생각이 들것입니다.<br>
            하지만 제 <strong>인생 첫 개인 개발 사이트</strong>인 만큼, 누군가 자주 애용해주고 그렇게 사용자가 많아져서 정보 데이터가 늘어나게 된다면<br>
            개발자이자 관리자로써 굉장히 뿌듯할거같아 개인적인 욕심으로는 <strong>식당 한번 들를때마다 자주 장소랑 리뷰좀 적고가주셨음하는 개인적인 바램입니다!</strong>
        </p>

        <p>
            <li><strong>장소 카테고리를 이렇게 분류하게 된 이유</strong></li>
            장소 카테고리 분류를 원래 의도로는<br>
            메뉴별로 나누거나 또는 식당,술집 이렇게 두가지로만 나누려고했는데,<br>
            전자는 여러 메뉴를 판매하는 식당도 있어 카테고리 선택할때 애매할것 같았고<br>
            후자의 예시로 야곱집은 식당이면서 술집이라고도 생각되어 이처럼 겹쳐서 애매해지는 장소가 있기에<br>
            <strong>식사가 목적이냐 술이 목적이냐를 구분하는 데에 초점을 두고<br>
                '식당'과 '술먹기좋은식당 and 술집' 이렇게 두가지로 장소 카테고리를 분류하게 되었습니다.</strong><br>
        </p>
    </ul>

</div>
{% endblock %}